@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dancing+Script:wght@700&family=Open+Sans:wght@300&family=Oswald:wght@600&family=Yellowtail&display=swap');
.setting{
    margin-left: 10%;
    margin-right: 10%;
}
.hi{
    text-align: center;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 50px;
    /*font-family: 'Dancing Script', cursive;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Yellowtail', cursive;*/
}
.setting-item{
    margin-bottom: 20px;
}